{% extends 'layout.html' %}

{% block title %}
Admin Dashboard
{% endblock %}

{% block content %}
    <h1>Admin Dashboard</h1>
    <div class="heading">
        <h2 class="text-muted">Services</h2>
        <a class="btn btn-success" href="{{url_for('add_services')}}"> 
            <i class="fas fa-plus"></i>
            Add Service
        </a>
    </div>
    <table class="table">
        <thead>
            <th>Service ID</th>
            <th>Service Name</th>
            <th>Price</th>
            <th>Description</th>
            <th>Time</th>
            <th>Actions</th>
        </thead>
        <tbody>
            {% for s in service %}
                <tr>
                    <td>{{s.id}}</td>
                    <td>{{s.name}}</td>
                    <td>{{s.price}}</td>
                    <td>{{s.description}}</td>
                    <td>{{s.time}}</td>
                    <td>
                        <a class="btn btn-primary" href="{{url_for('edit_service', service_id=s.id)}}">
                            <i class="fas fa-edit fa-xs"></i>
                            Edit
                        </a>
                        <a class="btn btn-danger" href="{{url_for('delete_service', service_id=s.id)}}">
                            <i class="fas fa-trash fa-xs"></i>
                            Delete
                        </a>
                    </td> 
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
    <div class="heading">
        <h2 class="text-muted">Professionals</h2>
    </div>
    <table class="table">
        <thead>
            <th>Username</th>
            <th>Name</th>
            <th>Contact</th>
            <th>Service</th>
            <th>Status</th>
            
        </thead>
        <tbody>
            {% for p in professional %}
                <tr>
                    <td>{{p.username}}</td>
                    <td>{{p.name}}</td>
                    <td>{{p.contact}}</td>
                    <td>{{p.service_id}}</td>
                    <td>{{p.status}}</td> 
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
    <div class="heading">
        <h2 class="text-muted">Service Requests</h2>
    </div>
{% endblock %}

{% block style %}
    <style>
        .heading{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        h1 {
            text-align: center;
        }
    </style>
{% endblock %}