{% extends 'layout.html' %}

{% block title %}
Close Service Request
{% endblock %}

{% block content %}
<h1>Close Service Request</h1>
<form method="post" enctype="multipart/form-data">
    <label for="rating" class="form-label">Rating
    <input type="text" name="rating" id="rating" class="form-control" required>
    </label>
    <br>
    <label for="name" class="form-label">Review
    <input type="text" name="review" id="review" class="form-control" required>
    </label>
    <input type="submit" value="Close Service Request" class="btn btn-success">
</form> 
{% endblock %}