{% extends 'layout.html' %}

{% block title %}
Professional Dashboard
{% endblock %}

{% block content %}
    <h1>Hello @{{user.name}}</h1>
    <div class="heading">
        <h2 class="text-muted">Service Requests</h2>
    </div>
    <table class="table">
        <thead>
            <th>SR ID</th>
            <th>Customer</th>
            <th>Professional</th>
            <th>Request Date</th>
            <th>Status</th>
            <th>Action</th>
        </thead>
        <tbody>
            {% for sr in servreq %}
                <tr>
                    <td>{{sr.servicereqid}}</td>
                    <td>{{sr.cuser}}</td>
                    <td>{{sr.puser}}</td>
                    <td>{{sr.requestdate}}</td>
                    <td>{{sr.status}}</td>
                    <td>
                    {% if sr.status == 'Requested' or sr.status == 'Accepted' %}
                        <a class="btn btn-primary" href="{{url_for('peditservicerequest', servicereq_id=sr.servicereqid)}}">
                            <i class="fas fa-edit fa-xs"></i>
                            Edit
                        </a>
                   {% else %}
                       Service is {{sr.status}}
                   {% endif %}
                </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block style %}
    <style>
        .heading{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        h1 {
            text-align: center;
        }
    </style>
{% endblock %}