    <div class="container-fluid">
        <form>
          <input type="text" class="form-control" id="search" name="search" placeholder="Search for services">
          <button type="submit" class="btn btn-primary">Search</button>
        </form>
    </div>

<style>
  .container-fluid{
    padding: 15px;
  }
  form{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  #search{
    margin-left: 10px;
    margin-right: 10px;
    width: 50%;
  }
</style>