{% extends 'layout.html' %}

{% block title %}
Update Professional 
{% endblock %}

{% block content %}
    <h1>Update Professional</h1>
    <h2>You are currently updating the Status for {{professional.name}}</h2>
    <form  method="post" class="form">
        <label for="status">Professional Status</label>
        <div class="status">
            <select name="status" id="status">
            <option value="Approved">Approved</option>
            <option value="Rejected">Rejected</option>
            </select> 
        </div>
    <br>
    <div class="btn">
        <input type="submit" value="Update Professional" class="btn btn-dark">
    </div>
</form>

{% endblock %}

{% block style %}
    <style>
        h1,h2 {
            text-align: center;
            padding: 10px;
        }
        form {
            padding-top: 50px;
            padding-bottom: 10px;
            display: flex;
            align-items: center;
            flex-direction: column;
        }
        .status{
            padding-top: 20px;
        }
        .btn{
            padding-top: 10px;
        }
        
    </style>
{% endblock %}